body {
  margin: 1% 10%;
}

/*Header*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.form {
  color: rgb(253, 253, 253);
  margin-top: 10px;
  margin-left: 500px;
}
h1 {
  color: rgb(255, 254, 253);
  background-color: mediumaquamarine;
}

h4 {
  color: cornflowerblue;
}

h2 {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
}
.active {
  background-color: #aa0404;
}
.welcome {
  background-color: #333;
  padding: 1rem;
  margin-top: -20px;
}
.image2 {
  height: 100px;
  margin-top: 10px;
}
h3 {
  background-color: rgb(123, 241, 222);
}
.m {
  margin-left: 900px;
  background-color: rgb(255, 255, 255);
  margin-top: -15px;
}
